@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav {
    position: relative;
    left: 320px
}

nav ul {
    display: flex;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

nav ul li {
    margin-right: 20px;
    font-size: 18px;
    font-weight: bold;
    color: rgba(128, 128, 128, 0.651);
}

.botao-menu button {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    height: 48px;
    width: 195px;
    border-radius: 15px;
    border: 3px solid red;
    color: red;
    background-color: white;
}