@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    position: relative;
    right: 78px;
}

nav {
    position: relative;
    left: 320px
}

nav ul {
    display: flex;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

nav ul li {
    margin-right: 20px;
    font-size: 18px;
    font-weight: bold;
    color: rgba(128, 128, 128, 0.651);
    cursor: pointer;
}

.botao-menu button {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    height: 48px;
    width: 195px;
    border-radius: 15px;
    border: 3px solid red;
    color: red;
    background-color: white;
    cursor: pointer;
}

.botao-menu button:hover {
    background-color: red;
    color: white;
    transition: all 0.5s ease;
}

.section-1 {
    display: flex;
    height: 625px;
}

.esquerda {
    width: 50%;
    height: 625px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textos {
    height: 500px;
    width: 600px;
}

.texto-principal {
    margin-bottom: 20px;
}

.texto-principal h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
}

.texto-principal h1 span {
    color: red;
}

.descricao {
    margin-bottom: 30px;
}

.descricao p {
    font-family: 'Roboto';
    color: rgba(128, 128, 128, 0.651);

}

form {
    display: flex;
    flex-direction: column;
}

form input {
    margin-bottom: 15px;
    width: 400px;
    height: 45px;
    border: 2px solid rgba(128, 128, 128, 0.651);;
    border-radius: 20px;
    outline: none;
    padding-left: 15px;
}

form button {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: white;
    background-color: red;
    width: 150px;
    height: 45px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.imagens {
    display: flex;
    align-items: center;
    width: 50%;
    height: 625px;
}